adbc_driver_manager==1.11.0
adbc_driver_postgresql==1.11.0
adbc_driver_sqlite==1.11.0
ads==0.12.7
aerospike_vector_search==4.2.0
ain==0.0.2
aiodns==4.0.0
airbyte_cdk==7.17.2
aleph_alpha_client==11.5.1
alibabacloud_ha3engine_vector==1.1.18
alibabacloud_tea_util==0.3.14
anywidget==0.10.0
apify_client==2.5.0
AppKit==0.2.8
arango==0.2.1
arcgis==2.4.2
argilla==2.8.0
arize==8.16.0
arthurai==3.33.3
astrapy==2.2.1
async_timeout==5.0.1
atheris==3.0.0
atlassian==0.0.0
authlib==1.7.0
azureml==0.2.7
baidubce==0.8.3
banana_dev==6.3.0
BeautifulSoup==3.2.2
bibtexparser==1.4.4
bigdl==2.4.0
bilibili_api==9.1.0
boto3==1.42.91
botocore==1.42.91
brotli==1.2.0
brotlicffi==1.2.0.1
ca_certs_locater==1.0
cassio==0.1.10
cchardet==2.1.7
cffi==2.0.0
chardet==7.4.3
checks==0.2
chromadb==1.5.8
clarifai_grpc==12.3.1
clickhouse_connect==0.15.1
cloudpathlib==0.23.0
cloudpickle==3.1.2
colorama==0.4.6
comet_llm==2.2.7
ConfigParser==7.2.0
confluent_kafka==2.14.0
cudf==0.6.1.post1
cupy==14.0.1
curio==1.6
cx_Oracle==8.3.0
cycler==0.12.1
Cython==3.2.4
dask_expr==2.0.0
datadog_api_client==2.53.0
deepeval==3.9.7
defusedxml==0.7.1
dgml_utils==0.3.4
dingodb==0.3.0
doctran==0.0.14
docutils==0.22.4
docx2txt==0.9
dria==0.0.124
dynamodb_encryption_sdk==3.3.0
e2b==2.20.0
elevenlabs==2.43.0
email_validator==2.3.0
esprima==4.0.1
eval_type_backport==0.3.1
exceptiongroup==1.3.1
extract_msg==0.55.0
fake_useragent==2.2.0
fastapi==0.136.0
faster_whisper==1.2.1
fastparquet==2026.3.0
feedparser==6.0.12
filelock==3.29.0
filetype==1.2.0
firebase_admin==7.4.0
fitz==0.0.1.dev2
flashrank==0.2.10
flytekit==1.16.19
Foundation==0.1.0a0.dev1
fqdn==1.5.1
fsspec==2026.3.0
geopandas==1.1.3
gitdb_speedups==0.1.0
gliner==0.2.26
googlemaps==4.10.0
gptcache==0.1.44
gpudb==7.2.3.7
gql==4.0.0
gradientai==1.13.1
grandalf==0.8
graphviz==0.21
greenlet==3.4.0
grpc_reflection==1.0.0
grpc_tools==1.0.0
guardrails==2.0.0
gunicorn==25.3.0
h2==4.3.0
hdbcli==2.28.19
hologres_vector==0.0.10
html5lib==1.1
HTMLParser==0.0.2
httpx_aiohttp==0.1.12
hypothesis==6.152.1
ibis==3.3.0
ibm_watsonx_ai==1.5.6
importlib_resources==7.1.0
infinity_client==0.0.77
infinity_emb==0.0.77
InstructorEmbedding==1.0.1
intel_extension_for_transformers==1.4.2
ipython==9.12.0
ipywidgets==8.1.8
isoduration==20.11.0
itsdangerous==2.2.0
jaguardb_http_client==3.5.3
javelin_sdk==0.2.40
jnius==1.1.0
joblib==1.5.3
JPype1==1.7.0
jq==1.11.0
jsonpath_ng==1.8.0
kdbai_client==1.10.0
keybert==0.9.0
keyring==25.7.0
label_studio_sdk==2.0.20
langchain_astradb==1.0.0
langchain_aws==1.4.4
langchain_azure_ai==1.2.2
langchain_chroma==1.1.0
langchain_cohere==0.5.1
langchain_deepseek==1.0.1
langchain_elasticsearch==1.0.0
langchain_experimental==0.4.1
langchain_fireworks==1.1.0
langchain_google_genai==4.2.2
langchain_google_vertexai==3.2.2
langchain_groq==1.1.2
langchain_huggingface==1.2.2
langchain_ibm==1.0.6
langchain_milvus==0.3.3
langchain_mistralai==1.1.2
langchain_mongodb==0.11.0
langchain_neo4j==0.9.0
langchain_nvidia_ai_endpoints==1.2.1
langchain_ollama==1.1.0
langchain_openai==1.1.14
langchain_perplexity==1.1.0
langchain_pinecone==0.2.13
langchain_postgres==0.0.17
langchain_qdrant==1.1.0
langchain_together==0.4.0
langchain_upstage==0.7.7
langchain_weaviate==0.0.6
langchain_xai==1.2.2
langchainhub==0.1.21
langgraph_api==0.8.0
langsmith_pyo3==0.1.0rc5
lark==1.3.1
laser_encoders==0.0.2
librosa==0.11.0
listparser==0.20
llmlingua==0.2.2
llmonitor==0.0.51
lorax==0.94.86
lxml_html_clean==0.4.4
manticoresearch==11.0.0
mask==1.0.0
matplotlib==3.10.8
mediawikiapi==1.3
metal_sdk==2.5.1
mlx_lm==0.31.2
modelscope==1.36.0
modin==0.37.1
motor==3.7.1
msal==1.36.0
mtrand==0.1
mwparserfromhell==0.7.2
mwxml==0.3.8
mypy_boto3_secretsmanager==1.42.8
nest_asyncio==1.6.0
newspaper==0.1.0.7
nlu==5.4.1
nomic==3.9.0
nucliadb_models==6.13.0.post6104
nucliadb_protos==6.13.0.post6104
numexpr==2.14.1
O365==2.1.9
oauth2client==4.1.3
obs==0.0.0
oci==2.171.0
odfpy==1.4.1
odps==3.5.1
olefile==0.47
openapi_pydantic==0.5.1
openpyxl==3.1.5
optimum==2.1.0
outcome==1.3.0.post0
pdf2image==1.17.0
pdfminer==20191125
pdfplumber==0.11.9
pinecone_text==0.11.0
plotly==6.7.0
polars==1.40.0
polars_st==0.7.0
praw==7.8.1
promptlayer==1.4.2
psutil==7.2.2
psychicapi==0.8.4
pyairtable==3.3.0
pycares==5.0.1
pycryptodome==3.23.0
pycurl==7.45.7
pydoctor==25.10.1
pydub==0.25.1
pyepsilla==0.3.15
pygraphviz==1.14
PyInstaller==6.19.0
pymemcache==4.0.0
pymilvus==2.6.12
pymongo==4.16.0
pymupdf==1.27.2.2
pyodide==0.0.2
pyOpenSSL==26.0.0
pyowm==3.5.0
pypdf==6.10.2
PyPDF2==3.0.1
pypdfium2==5.7.0
pyperf==2.10.0
pyppeteer==2.0.0
PyQt4==4.11.4
PyQt5==5.15.11
PyQt6==6.11.0
PySide6==6.11.0
pyspark==4.1.1
pysqlcipher3==1.2.0
pysrt==1.1.2
pytesseract==0.3.13
pytest==9.0.3
pytest_run_parallel==0.8.2
python-decouple==3.8
python_bcrypt==0.3.2
python_calamine==0.6.2
pyTigerGraph==2.0.3
pytube==15.0.0
pytz==2026.1.post1
pyu2f==0.1.5
pyxlsb==1.0.10
qcloud_cos==3.3.6
qdrant_client==1.17.1
qianfan==0.4.12.3
qtpy==2.4.3
railroad==0.5.0
rank_bm25==0.2.2
rank_llm==0.25.7
rapidfuzz==3.14.5
rapidocr_onnxruntime==1.4.4
rdflib==7.6.0
reportlab==4.4.10
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rfc3987_syntax==1.1.0
riva==0.3.16
rizaio==0.12.0
rockset==2.1.2
rspace_client==2.6.2
runhouse==0.0.42
s3fs==2026.3.0
scipy==1.17.1
scipy_doctest==2.2.0
scrapingant_client==2.1.0
selenium==4.43.0
semantic_version==2.10.0
setuptools==82.0.1
setuptools_scm==10.0.5
simplejson==4.0.1
simsimd==6.5.16
slack_sdk==3.41.0
socksio==1.0.0
sodapy==2.2.0
sounddevice==0.5.5
speechkit==2.2.3
Sphinx==9.1.0
sqlcipher3==0.6.2
sqlframe==4.1.0
sqlite_vec==0.1.9
sqlite_vss==0.1.2
sqlparse==0.5.5
sseclient==0.0.27
stackapi==0.3.1
steamship==2.17.34
steamspypi==1.1.1
streamlit_pdf==2.0.1
svglib==1.6.0
sympy==1.14.0
tables==3.11.1
takeoff_client==0.7.0
tavily==1.1.0
telethon==1.43.2
tensorflow_text==2.20.1
text_generation==0.7.0
textractor==0.1.2
thirdai==0.9.33
threadpoolctl==3.6.0
tigrisdb==1.0.0b6
tiktoken==0.12.0
timescale_vector==0.0.7
tokenizers==0.22.2
torch==2.11.0
torch_npu==2.9.0
traitlets==5.14.3
tree_sitter==0.25.2
tree_sitter_languages==1.10.2
trubrics==1.8.5
tweepy==4.16.0
tzdata==2026.1
upstash_ratelimit==1.1.0
upstash_vector==0.8.0
uri_template==1.3.0
urllib3_secure_extra==0.1.0
uvicorn==0.44.0
uvloop==0.22.1
vearch_cluster==0.0.2
vegafusion==2.0.3
watchdog==6.0.0
webcolors==25.10.0
websockets==16.0
whylogs==1.6.4
wikibase_rest_api_client==0.2.5
winloop==0.6.2
wolframalpha==5.1.3
wrapt==2.1.2
writerai==4.0.1
xarray==2026.4.0
xinference_client==2.5.0
xlrd==2.0.2
xlsxwriter==3.2.9
xmlrpclib==1.0.1
xmltodict==1.0.4
xxhash==3.6.0
yfinance==1.3.0
youtube_search==2.2.0
youtube_transcript_api==1.2.4
yt_dlp==2026.3.17
zep_python==2.0.2
