streamlit
pydantic
python-dotenv
exa-py
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-cloud-pubsub
googlesearch-python
langchain
langchain-community
langchain-anthropic
langchain-core
httpx
pandas